<ion-view view-title="Chats">
    <div ng-controller="ChatsController">
    <ion-pane style="background-image: url(img/DebatiendoBackGround.jpg)">
   
      <ion-header-bar class="bar bar-header bar-positive">
        <button class="button icon ion-home"></button>
        <h2 class="title">DEBATIENDO APP</h2>
      </ion-header-bar>
      <div class="bar bar-subheader has-header" style="display: flex !important;">
          <label class="item item-input">
            <i class="icon ion-person-stalker"></i>
            <input type="text" ng-model="name" style="padding-left: 5px;padding-top: 5px;" placeholder="Escribe tu apodo...">
          </label>
      </div>


  <div class="scroll-content ionic-scroll overflow-scroll has-subheader">
      <ion-spinner icon="dots" ng-show="isLoading"></ion-spinner>

      <div ng-show="isReady">
          <div class="item item-divider">Historial de Mensajes:</div>

          <div class="item" style="background-color: inherit;padding-bottom:50px;">
                  <div class="" ng-repeat="msg in messages">

                      <a class="item item-avatar" style="background-color: inherit; border-style: none;" href="#">
                        <img src="img/avatar.png">
                        <h2 style="color: #ffc900;">{{ msg.from }}</h2>
                        <p><span style="color: black;font-family: &apos;Arial Black&apos;, &apos;Arial Bold&apos;, Gadget, sans-serif;font-size: 14px;font-style: normal;font-variant: normal;font-weight: 500;line-height: 15.4px;">{{ msg.body }}</span></p>
                      </a>
                  </div>
          </div>
      </div>
  </div>
       
        <div class="bar bar-footer">
                    <div class="title"> 
                            <div class="item item-input">
                              <input type="text" ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput" placeholder="Escribe tu mensaje...">
                              <button class="button button-clear ion-android-send button-right" ng-click="addMessageByClick()"></button>
                            </div>
                     </div>                  
        </div>      

   </ion-pane>
  </div>
</ion-view>
